<div class="row">
  <div class="col-md-6">
    <h3>July 4, morning: Shell</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:30</td>  <td>Navigating and working with files and directories</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Automation (pipes, filters, loops & scripts)</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Finding things</td> </tr>
      <tr> <td>14:00</td>  <td>END</td> </tr>
    </table>
    <h3>July 4, afternoon: Git</h3>
    <table class="table table-striped">
      <tr> <td>14:15</td>  <td>Setting up and working with Git</td> </tr>
      <tr> <td>15:45</td>  <td>Afternoon break</td> </tr>
      <tr> <td>16:00</td>  <td>Collaborating via Git</td> </tr>
      <tr> <td>17:30</td>  <td>END</td> </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>July 18: Python</h3>
    <table class="table table-striped">
      <tr> <td>09:30</td>  <td>Python fundamentals & analyzing tabular data</td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td>Visualizing tabular data</td> </tr>
      <tr> <td>12:30</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:15</td>  <td>Lists & loops</td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:45</td>  <td>Conditionals, functions & best practices</td> </tr>
      <tr> <td>17:30</td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:30</td>  <td>END</td> </tr>
    </table>
  </div>
</div>
